@using Microsoft.AspNetCore.Identity

@if (this.User.IsInRole(AppUtilities.ObserverRole))
{
<a class="dropdown-item" asp-area=@AppUtilities.ObserverArea asp-page="/Index">See Your Favorite Advertisements</a>
}