@model VehicleModelDetailsViewModel
@{
    ViewData["Title"] = "Model Details";
}

<h2> @ViewData["Title"]</h2>

@Html.DisplayForModel()

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}