@model DetailAdvertisementSellerViewModel

<div class="col">
    @Html.LabelFor(m => m.Email, new { @class = "h4" })
    <br />

    @Html.DisplayFor(m => m.Email)
    <br />
</div>

<div class="col">
    @Html.LabelFor(m => m.FullName, new { @class = "h4" })
    <br />

    @Html.DisplayFor(m => m.FullName)
    <br />
</div>