@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>This is my <strong>ASP.NET Core 2.1</strong> framework graduation project.</p>
<p>
    This is the final project in
    <a href="https://softuni.bg/trainings/2029/c-sharp-mvc-frameworks-aspnet-core-july-2018">C# Web Module</a>
    as part of my
    <a href="https://softuni.bg">SoftUni</a>
    programing education.
</p>
<p>
    The purpose of the graduation project is to provide students with an opportunity
    to engage in an activity that will allow them to demonstrate their ability to
    apply the knowledge and skills they have gained throughout their years in the educational system.
</p>
<p>
    For this project I used <strong>Visual Studio 2017</strong>
    and integrated <strong>Razor</strong> template engine for generating the UI,
    <strong>Microsoft SQL Server</strong> as database back-end,
    <strong>Entity Framework Core</strong> to access your database.

</p>
