@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Bulgaria<br />
    1220 Sofia, 15A Ekzarh Stefan Str.<br />
    <abbr title="Phone">Phone</abbr>
    +359 886 44 38 31
</address>

<address>
    <strong>Support:</strong> <a href="mailto:eqsol.sofia@gmail.com">eqsol.sofia@gmail.com</a><br />
</address>
